body{
    background-color: #e5e5e5;
}
.toplan{
    position: fixed;
    left: 0rem;
    top: 0rem;
    width: 100vw;
    height: 2rem;
    background-color: black;
}
.logo{
    position: fixed;
    top: 0.2rem;
    left: 0.2rem;
    width: 1.6rem;
    border-radius: 500rem;
}
.yigfatext{
    font-family: 'Pingfang';
    position: fixed;
    font-size: 1rem;
    top: 0.3rem;
    left: 2rem;
    color: #e5e5e5;
    margin: 0rem;
}
@font-face{
    font-family: 'Pingfang' ;
    src: url(./msyh.ttc);
}
h1{
    font-family: 'Pingfang';
}
.stoplan{
    position: relative;
    background-color: aqua;
    width: 100vw;
    height: 3rem;
    bottom: 0rem;
}
.jsy{
    text-align: center;
}