body{
    background-color: #e5e5e5;
}
.toplan{
    position: fixed;
    left: 0rem;
    top: 0rem;
    width: 100rem;
    height: 4rem;
    background-color: black;
}
.logo{
    position: fixed;
    top: 0.4rem;
    width: 3.3rem;
    border-radius: 500rem;
}
.yigfatext{
    position: fixed;
    top: 0rem;
    left: 4rem;
    color: #e5e5e5;
    
}